/**
* Template Name: Gp - v4.7.0
* Template URL: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/
* Author: BootstrapMade.com
* License: https://bootstrapmade.com/license/
*/

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Lato", sans-serif;
  color: #444444;
}

a {
  color: #d1a650;
  text-decoration: none;
}

a:hover {
  color: #ffd584;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 55px;
  bottom: 55px;
  z-index: 996;
  background: #d1a650;
  width: 50px;
  height: 50px;
  border-radius: 4px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 28px;
  color: #151515;
  line-height: 0;
}
.back-to-top:hover {
  background: #151515;
}
.back-to-top:hover i {
  color: #d1a650;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
}
#header.header-scrolled, #header.header-inner-pages {
  background: rgba(0, 0, 0, 0.6);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
#header .logo {
  font-size: 32px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}
#header .logo a {
  color: #fff;
}
#header .logo a span {
  color: #d1a650;
}
#header .logo img {
  max-height: 40px;
}

/*--------------------------------------------------------------
#  Get Startet Button
--------------------------------------------------------------*/
.get-started-btn {
  border-radius: 4px;
  padding: 7px 25px 8px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
  color: #000;
  background: #d1a650;
  display: inline-block;
  border: 1px solid #d1a650;
}
.get-started-btn:hover {
  background: transparent;
  color: #fff;
  border: 1px solid #d1a650;
}
@media (max-width: 992px) {
  .get-started-btn {
    display: none;
  }
  body {
    overflow-x: hidden;
  }
  .services  {
    height: 150vh;
  }
  .services-container{
    margin-right: 20px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .services-container .services-item{
    margin-left: 0;
    margin-top: 25px;
  }
  .our-team {
    flex-direction: column;
    width: 200px;
    margin: 0 auto;
  }
  .team {
    height: 160vh;
  }
  .mt-3 input {
    width: 400px;
    margin-left: 25px;
  }
  .mt-3 textarea {
    width: 400px;
    margin-left: 25px;
  }
  .footer-info h3 {
    margin-bottom: 50px;
    
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 20px 50px;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
  transition: 0.2s;
}
.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: #d1a650;
}
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }
  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: 1s;
  z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 50px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  padding: 10px 10px;
  background-color: #f4f4f4;
  overflow-y: hidden;
  transition: 1s;
}
.navbar-mobile a, .navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #151515;
}
.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #151515;
  background-color: #d1a650;
}
.navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
  margin: 15px;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/hero-bg.jpg") top center;
  background-size: cover;
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
}
#hero .container {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.container-in-text {
  width: 800px;
}
#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
#hero .container {
  position: relative;
  padding-top: 74px;
  text-align: center;
}
#hero h1 {
  margin: 0;
  font-size: 56px;
  font-weight: 700;
  line-height: 64px;
  color: #fff;
  font-family: "Poppins", sans-serif;
}
#hero h2 span {
  color: #ffc451;
}
#hero h2 {
  color: rgba(255, 255, 255, 0.9);
  margin: 10px 0 0 0;
  font-size: 24px;
}
#hero .icon-box {
  padding: 30px 20px;
  transition: ease-in-out 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.3);
  height: 100%;
  text-align: center;
}
#hero .icon-box i {
  font-size: 32px;
  line-height: 1;
  color: #d1a650;
}
#hero .icon-box h3 {
  font-weight: 700;
  margin: 10px 0 0 0;
  padding: 0;
  line-height: 1;
  font-size: 20px;
  line-height: 26px;
}
#hero .icon-box h3 a {
  color: #fff;
  transition: ease-in-out 0.3s;
}
#hero .icon-box h3 a:hover {
  color: #d1a650;
}
#hero .icon-box:hover {
  border-color: #d1a650;
}
@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}
@media (max-width: 768px) {
  #hero {
    height: 100vh;
  }
  #hero .container-in {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
  }
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 20px;
    line-height: 24px;
  }
}

section {
  padding: 60px 0;
  overflow: hidden;
}

.section-title {
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  font-family: "Poppins", sans-serif;
}
.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #ffde9e;
  margin: 4px 10px;
}
.section-title p {
  margin: 0;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #151515;
}

.about-content {
  width: 100%;
  height: 600px;
}
.about-content .content {
  margin-right: 30px;
  padding: 40px;
}
.about .content h3 {
  font-weight: 700;
  font-size: 28px;
  font-family: "Raleway", sans-serif;
}
.about .content h3 span {
  color: #d1a650;
}
.about .content ul {
  list-style: none;
  padding: 0;
}
.about .content ul li {
  padding: 0 0 8px 26px;
  position: relative;
}
.about .content ul i {
  position: absolute;
  font-size: 20px;
  left: 0;
  top: -3px;
  color: #ffc451;
}
.about .content p {
  width: 45%;
  float: left;
}
.about .content p:last-child {
  margin-bottom: 0;
}
.about .content img {
  margin-right: 15px;
  border-radius: 5px;
  width: 45%;
  float: left;
}
@media (max-width: 768px) {
  .about .content img {
    display: none;
  }
  .about {
    width: 100%;
  }
  .about-content .content p {
    width: 100%;
  }
  .about-content .content h3 {
    border-bottom: 1px solid #d1a650;
  }
  .about .content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }
  
}

.clients {
  padding-top: 20px;
}
.clients .swiper-slide img {
  transition: 0.3s;
}
.clients .swiper-pagination {
  margin-top: 20px;
  position: relative;
}
.clients .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  background-color: #ddd;
}
.clients .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #d1a650;
}



.services-container{
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.services-container .services-item {
  margin-left: 25px;
}
.services-container .services-item:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 20px;
}
.services-container .services-box {
  text-align: center;
  border: 1px solid #dfdcdc;
  padding: 80px 40px;
  transition: all ease-in-out 0.3s;
  background: #fff;
  border-radius: 10px;
}
.services-container .services-box .services-icon {
  margin:0 auto;
  width: 48px;
  height: 48px;
  border-radius: 8px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}
.services-container .services-box .services-icon i {
  color: #d1a650;
  font-size: 24px;
}
.services-container .services-box h4 {
  font-weight: 600;
  font-family: 'Raleway';
  font-size: 26px;
  color: #333;
  transition: ease-in-out 0.3s;
  cursor: pointer;
}
.services-container .services-box h4:hover {
  color: #d1a650;
}
.services-container .services-box p {
  line-height: 24px;
  font-size: 14px;
}





.team {
  background: #fff;
  padding: 60px 0;
}
.team .member {
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
.team .member .member-img {
  position: relative;
  border-bottom: 1px solid #dfdcdc;
  overflow: hidden;
}
.team .member .social {
  position: absolute;
  left: 0;
  bottom: 30px;
  right: 0;
  opacity: 0;
  transition: ease-in-out 0.3s;
  text-align: center;
}
.team .member .social a {
  transition: color 0.3s;
  color: #151515;
  margin: 0 3px;
  border-radius: 4px;
  width: 36px;
  height: 36px;
  background: #fff;
  transition: ease-in-out 0.3s;
  color: #484848;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.team .member .social a:hover {
  color: #151515;
  background: #d1a650;
}
.team .member .social i {
  font-size: 18px;
  line-height: 0;
}
.team .member .member-info {
  padding: 25px 15px;
}
.team .member .member-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 18px;
  color: #151515;
  text-align: center;
}
.team .member .member-info span {
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: #aaaaaa;
  text-align: center;
}
.team .member .member-info p {
  font-style: italic;
  font-size: 14px;
  line-height: 26px;
  color: #777777;
}
.team .member:hover .social {
  opacity: 1;
  bottom: 15px;
}
.our-team {
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.team-item {
  margin-right: 20px;
}
/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact .full-form {
  width: 100%;
  background: #fff;
}
.contact .full-form .form-group {
  padding-bottom: 8px;
}
.contact .full-form input, .contact .full-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 2px;
}
.contact .full-form input:focus, .contact .full-form textarea:focus {
  border-color: #ffc451;
}
.contact .full-form input {
  height: 54px;
}
.contact .full-form textarea {
  padding: 20px 15px;
}
.contact .full-form button[type=submit] {
  background: #ffc451;
  border: 0;
  padding: 10px 24px;
  color: #151515;
  transition: 0.4s;
  border-radius: 6px;
}
.contact .full-form button[type=submit]:hover {
  background: #c5880d;
  color: #f4f4f4;
}
.form-control {
  margin: 0 auto;
  width: 600px;
}
.contact-error {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
#footer {
  background: #252525;
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 14px;
}
#footer .footer-top {
  background: #252525;
  border-bottom: 1px solid #161616;
  padding: 60px 0 30px 0;
}
#footer .footer-top .footer-info {
  margin-bottom: 30px;
}
#footer .footer-top .footer-info h3 {
  width: 500px;
  font-size: 28px;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 50px;
  float: left;
}
#footer .footer-top .footer-info h3 span {
  color: #d1a650;
}
#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #fff;
}
#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #292929;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
#footer .footer-top .social-links a:hover {
  background: #ffc451;
  color: #151515;
  text-decoration: none;
}
#footer .footer-top h4 {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}
#footer .footer-top .footer-links {
  margin-bottom: 30px;
  width: 250px;
}
#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #d1a650;
  font-size: 18px;
  line-height: 1;
}
#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}
#footer .footer-top .footer-links ul a {
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}
#footer .footer-top .footer-links ul a:hover {
  color: #d1a650;
}
#footer .footer-top .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
}
#footer .footer-top .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px;
  width: calc(100% - 110px);
}
#footer .footer-top .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: -2px;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #d1a650;
  color: #151515;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
}
#footer .footer-top .footer-newsletter form input[type=submit]:hover {
  background: #ffcd6b;
}
#footer .copyright {
  text-align: center;
  padding-top: 30px;
  margin: 0 auto;
}
#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}